* {
   margin: 0;
   padding: 0;
   font-family: Bahnschrift;
   text-decoration: none;
}
a {
   color: currentColor;
}

body {
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
}
.wrapper {font-size: 110%;}

.header {
   text-align: center;
   margin-top: 14px;
   margin-bottom: 14px;
}

.character_description {grid-area: dsc; max-width: 500px;}
.character_biografy {grid-area: bio; max-width: 500px;}
.variations {grid-area: var; height: 340px;}
.variations ul {margin-left: 40px;}
.character_special {grid-area: spl; max-width: 500px; padding-left: 14px;}
.character_image {
   grid-area: img;
   width: 30vw;
   background-color: #eee3f9;
   border-radius: 4%;
   box-shadow: 1px 1px 10px 0px black;
}
.table {grid-area: tbl;}
.build1 {grid-area: rb1;}
.build2 {grid-area: rb2;}

.variations__playstyle {
   color: #717171;
   font-size: 80%;
}

.container {
   margin-left: 20px;
   display: grid;
   grid-template-areas: "bio tbl img"
                        "dsc tbl img"
                        "spl tbl rb1"
                        "var tbl rb2";
   gap: 14px;
   justify-items: center;
}

.container div h3 {text-align: center;}
.container div p {text-indent: 14px;}

.mb10 {margin-bottom: 10px;}
.character_special ul li {margin-bottom: 10px;}

.box {
   background-color: #eee3f9;
   border: 1px #5f57c7 solid;
   border-radius: 2px;
   padding: 6px;
}
.box h3 {background-color: #b5abe5; margin-bottom: 10px;}

.chart ul {
   display: grid;
   justify-items: center;
   align-items: center;
   text-align: center;
   gap: 10px;
}

.build1 img, .build1 p, .build2 img, .build2 p {width: 36vw;}

@media (max-width: 1400px) {
   .container {
      grid-template-areas: "var img"
                           "bio tbl"
                           "dsc tbl"
                           "spl tbl"
                           "rb1 rb2";
   }
   .build1 img, .build1 p, .build2 img, .build2 p {width: 650px;}
}

@media (max-width: 1000px) {
   .container {
      margin-left: 0;
      grid-template-areas: "img"
      "dsc"
      "bio"
      "spl"
      "var"
      "tbl"
      "rb1"
      "rb2";
   }

   .variations {height: auto; width: 500px;}

   .character_image {width: 70%;}

   .build1 img, .build1 p, .build2 img, .build2 p {width: 100%;}
}

@media (max-width: 515px) {
   .character_image {width: 90%;}
   .chart ul {gap: 4px;}
}
