:root {
   --main-theme: #e7c3e7;
   --box-color: rgb(239 223 120 / 70%);
   --box-hover-color: rgb(239 223 120 / 90%);
   --aside-list-color: #f5daf5;
   --aside-list-active: #18a5db;
   --aside-list-click: rgba(245, 219, 245, 0.5);
   --aside-bg: #363940;
   --mobile-aside-bg: rgba(54, 57, 64, 0.6);
   --version-red: #dd6666;
   --version-blue: #21cfed;
   --wind-theme: #60d394;
   --fire-theme: #ee6055;
   --water-theme: #a0c4ff;
   --light-theme: #fdffb6;
   --dark-theme: #9381ff;
   --neutral-theme: #f5efff;
}

* {
   margin: 0;
   padding: 0;
   text-decoration: none;
}
a {
   color: currentColor;
}

.aside {
   width: 186px;
   height: 100%;
   background-color: var(--aside-bg);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 6;
   font-family: Bahnschrift;
   backdrop-filter: blur(1px);
}

.version {
   margin-left: 6px;
   color: var(--aside-list-color);
}
.version span {color: var(--version-red);}

.card {
   min-height: 100vh;
   display: block;
   position: relative;
   margin-left: 186px;
   top: 0;
   right: 0;
   padding-left: 6px;
   font-family: Bahnschrift;
   /* background-color: var(--main-theme); */
   background-image: url('arts/marie_sg.jpg');
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
}

.aside h2 {
   color: var(--aside-list-active);
   margin-top: 16px;
   text-align: center;
}
.aside ul {
   position: relative;
   margin-left: 10px;
   color: var(--aside-list-color);
}
.aside li:hover {
   color: var(--aside-list-active);
}
.aside li:active {
   background-color: var(--aside-list-click);
}

.aside ul li {
   display: inline;
   white-space: pre-line;
   cursor: pointer;
}

.aside ul li ul {
   display: none;
   position: absolute;
   top: 364px;
   left: 0px;
   margin-left: 0;
   color: var(--aside-list-color);
   z-index: 10;
}

.aside ul li ul.nav_active {
   display: block;
}

.aside-closer {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 6rem;
   color: red;
   display: none;
}

.list_icon {
   position: absolute;
   left: 0;
   top: 0;
}

.card .head {
   text-align: center;
   font-size: 170%;
   margin-top: 7vh;
}
.card .aka {
   font-size: 70%;
   color: #6d7078;
}

.card .menu__char {
   font-size: 120%;
   display: grid;
   grid-template-areas: "e e d"
                        "b f d"
                        "h a c"
                        "h i g";
   gap: 10px;
   grid-template-columns: auto auto 270px;
}
.the_description {grid-area: a;}
.the_signature_ab {grid-area: b;}
.the_marquee {grid-area: f;}
.the_prestige {grid-area: g;}
.the_base_stats {grid-area: c;}
.card_img, .main_img {grid-area: d; pointer-events: none;}
.card_name {grid-area: e;}
.the_moves {grid-area: h;}

.main_img {padding-top: 7vh;}

.char__list {
   margin-left: 30px;
   display: flex;
   /* max-height: 360px; */
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: flex-start;
}
.char__list li span:hover {cursor: pointer; color: var(--aside-list-active);}
.char__list li span:active {color: var(--version-red);}

.indent p {text-indent: 14px;}

.table {
   padding-left: 6px;
   background-color: var(--table-color);
   border-radius: 10px;
}

.center {
   text-align: center;
}

.the_marquee p:last-child {margin-top: 10px;}

.the_add_stats {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   grid-area: i;
}

.stats__column {max-width: 450px;}
.stats__column h2, .builds h2 {text-align: center;}
.stats {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
}
.stats__sub {
   width: 218px;
}
.stats__sub li {
   margin-left: 18px;
   margin-top: 4px;
}

.build__column {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
}
.build__list {
   display: flex;
   flex-direction: row;
   align-items: center;
   max-width: 400px;
}

#supp_ntfc {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   padding-bottom: 14px;
}

.supp_card {
   position: relative;
   width: 340px;
   height: 120px;
   border-radius: 10px;
   margin: 6px;
   display: flex;
   align-items: center;
   padding-left: 2px;
}

.card_desc {
   padding-left: 11px;
}

.frame {
   width: 85px;
   height: 85px;
   border-radius: 50%;
   box-shadow: 0 0 2px 1px black;
   padding: 6px;
   margin: 0 auto -15px auto;
}

.bronze .frame {background-image: linear-gradient(#621 10%, #b76 20%, #843 40%, #b76 60%, #621 90%);}
.silver .frame {background-image: linear-gradient(#889 10%, #eef 20%, #aab 40%, #eef 60%, #889 90%);}
.gold .frame {background-image: linear-gradient(#da2 10%, #feb 20%, #fd8 40%, #feb 60%, #da2 90%);}
.diamond.neutral .frame,
.diamond .neutral .frame {background-image: linear-gradient(#d9d 10%, #fff 20%, #fcf 40%, #fef 60%, #d9d 90%);}
.diamond.fire .frame,
.diamond .fire .frame {background-image: linear-gradient(#d33 10%, #fff 20%, #f99 40%, #fee 60%, #d33 90%);}
.diamond.water .frame,
.diamond .water .frame {background-image: linear-gradient(#6be 10%, #fff 20%, #ace 40%, #eff 60%, #6be 90%);}
.diamond.wind .frame,
.diamond .wind .frame {background-image: linear-gradient(#8b3 10%, #fff 20%, #de9 40%, #efe 60%, #8b3 90%);}
.diamond.dark .frame,
.diamond .dark .frame {background-image: linear-gradient(#95f 10%, #fff 20%, #caf 40%, #fef 60%, #95f 90%);}
.diamond.light .frame,
.diamond .light .frame {background-image: linear-gradient(#dd6 10%, #fff 20%, #ffb 40%, #ffe 60%, #dd6 90%);}
.backdrop {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 2px 1px black;
}
.neutral .backdrop {background-image: radial-gradient(#ccc, #888);}
.fire .backdrop {background-image: radial-gradient(#fb7, #d00);}
.water .backdrop {background-image: radial-gradient(#5ff, #06c);}
.wind .backdrop {background-image: radial-gradient(#9f8, #082);}
.dark .backdrop {background-image: radial-gradient(#eae, #525);}
.light .backdrop {background-image: radial-gradient(#fff, #ec5);}

.portrait {
   width: 151%;
   margin: -110% 0 0 -26%;
   pointer-events: none;
}

.pop_build__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.pop_build__list li img {width: 800px;}
.pop_build__list li iframe {width: 560px; height: 315px;}

.opener {
   position: absolute;
   padding: 6px;
   top: 4px;
   left: 10px;
   background-color: var(--aside-bg);
   color: var(--aside-list-color);
   display: none;
}
.closer {
   position: absolute;
   padding: 6px;
   top: 14px;
   right: 8px;
   background-color: var(--aside-bg);
   color: var(--version-red);
   font-size: 200%;
   border-radius: 46%;
   display: none;
}
.btn_active {display: block !important;}

.addition_img_container {
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
   flex-wrap: wrap;
}
.addition_img_container img {max-width: 100%;}

.empty {color: white;}
.empty:hover {color: white !important;}
.box {
   background-color: var(--box-color);
   border-radius: 10px;
   padding: 6px;
}
/* .box:hover {background-color: var(--box-hover-color);} */

.box-sup {background-color: var(--box-color);}

@media (max-width: 1604px) {
   .card .menu__char {font-size: 110%;}
   .first_main_column {width: 220px;}
   .second_main_column {width: 400px;}
   .pop_build__list {flex-direction: column;}
}

@media (max-width: 1338px) {
   .aside {
      display: none;
      width: 340px;
      font-size: 130%;
      background-color: var(--mobile-aside-bg);
   }
   .aside ul li ul {top: 450px; left: unset;}
   .aside h2 {text-align: start;}
   .version {color: var(--version-blue);}
   .version span {color: var(--aside-list-active);}

   .aside ul li ul.nav_active {
      position: absolute;
      top: 24rem;
      right: 4px;
      text-align: right;
   }

   .card {
      margin-left: 0;
      padding-left: 0;
   }
   .opener, .closer {display: block;}
   .char__list li span:active {color: var(--aside-list-active);}
}

@media (max-width: 1150px) {
   .card {position: relative;}
   .card .menu__char {
      grid-template-areas:
      "e e"
      "b d"
      "a d"
      "i c"
      "h g"
      "h f";
      justify-content: space-evenly;
      grid-template-columns: auto;
   }

   .the_base_stats {margin: 0 auto; max-width: 400px;}
   .menu__char .card_img {margin: 0 auto;}
   .main_img {display: none;}
   .pop_build__list li img {width: 100%;}
   .char__list {
      min-width: 300px;
   }
}

@media (max-width: 734px) {
   .card {background-image: url('arts/bg_750.jpg'); background-position: inherit;}
   .stats {flex-direction: column;}
}

@media (max-width: 670px) {
   * {align-items: center;}
   .card .menu__char {
      grid-template-areas:
      "e"
      "d"
      "c"
      "a"
      "b"
      "f"
      "g"
      "h"
      "i";
      gap: 20px;
      margin: 0 10px;
   }

   .stats {flex-direction: row;}
   .build__column {align-items: stretch;}
   .pop_build__list li iframe {width: 100%; height: auto;}
}

@media (max-width: 520px) {
   .aside {
      width: 100%;
      overflow: overlay;
      background-color: var(--aside-bg);
   }
}

@media (max-width: 470px) {
   .card {background-image: url('arts/bg_500.jpg');}
   .the_signature_ab, .stats__column, .build__list {width: auto;}
   .stats {flex-direction: column; row-gap: 20px;}
   .supp_card {width: 100%;}
}
